@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>GitHub Actions Example from the Cloud Ninja- slot change- deployed using Ci/CD</p>
</div>
