name: 'Deploy to Azure App Service Using Azure Login Action'

on:
  workflow_dispatch:

env:
  AZURE_WEBAPP_PACKAGE_PATH: '.'
  AZURE_WEBAPP_NAME: PSDeployDemoDima

permissions:
  id-token: write

jobs:
  build:
    env:
      BUILD_CONFIG: Release
      DOT_NET_VERSION: 6.0.x
      
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '${{ env.DOT_NET_VERSION }}'      
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --configuration '${{ env.BUILD_CONFIG }}'
      
    - name: Publish
      run: dotnet publish -c Release -o '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/myapp'
      
    - name: Install CLI-beta
      run: |
        cd ../..
        Set-Location -Path (Get-Location)
        CWD=$(Get-Location).path
        python3 -m venv oidc-venv
        . oidc-venv/bin/activate
        echo "activated environment"
        python3 -m pip install -q --upgrade pip
        echo "started installing cli beta"
        pip install -q --extra-index-url https://azcliprod.blob.core.windows.net/beta/simple/ azure-cli
        echo "***************installed cli beta*******************"
        echo "$CWD/oidc-venv/bin" >> $GITHUB_PATH
              
    - name: OIDC Login to Azure Public Cloud
      uses: azure/login@v1.4.0
      with:
        client-id: 8df95f84-25da-44a5-af77-ac7c5c9eab39 
        tenant-id: 43ae758d-f93f-46e7-989c-b92e8a56b35b
        subscription-id: 06e22377-2c09-458d-a96a-99dc6dad2079
            
    - name: Deploy
      uses: Azure/webapps-deploy@v2
      with:
        app-name: '${{ env.AZURE_WEBAPP_NAME }}'
        slot-name: '${{ env.SLOT_NAME }}'
        package: '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/myapp'
      env:
        SLOT_NAME: production